.card {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  max-width: rem(326);
  &-image {
    flex: .7;
    width: 100%;
    height: 100%;

    & > img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 24px;
    color: #101828;
  }

  &-desc {
    font-weight: 400;
    font-size: 16px;
    color: #667085;
  }
  &-action {
    text-align: left;
    font-weight: 500;
    background-color: transparent;
    font-size: 16px;
    margin-top: auto;
    color: #175CD3;
  }
}